export(DomiELA)
export(DecoELA)
export(doAggregate)
export(weightedsum)
export(tchebycheff)
export(domiDistr)
export(NormalizeColumns)
export(computefdc)
importFrom("stats", "sd")
importFrom("stats", "cor")
